/* News Sections */
.thumbnail {
    max-width: 0;
    display: none;
}

.metadata {
    max-width: fit-content !important;
    padding-bottom: 0 !important;
}

div.quarto-post {
    display: block !important;
}

.quarto-post {
    max-height: fit-content;
    padding-bottom: 5px;
    /* border-bottom: none !important; */
}

.quarto-post a:hover {
    color: #88a2da !important;
}

.category:hover {
    color: #88a2da !important;
}